<h2>{{model.subject}}</h2>
  <dl class="meta-mail">
      <dt>Sent by:</dt>
      <dd>{{model.sender}}</dd>
      <dt>Recipients:</dt>
      <dd>
          <ul>
              {{#each model.recipients as |recipient|}}
                  <li>
                      {{#link-to 'recipients.recipient' recipient.id}}
                          {{recipient.address}}
                      {{/link-to}}
                  </li>
              {{/each}}
          </ul>
      </dd>
      <dt>Date sent:</dt>
      <dd>{{moment-format model.datetime}}</dd>
  </dl>
  
  {{paper-divider}}
  <p>
      {{html-safe model.body}}
  </p>
  {{paper-divider}}
 <div class="tags">
  <strong>TAGS:</strong>
  {{#each model.tags as |tag|}}
      <span class="tag">
          {{tag.description}}
      </span>
  {{/each}}
</div>