<h2>{{model.subject}}</h2>
  <dl class="meta-mail">
      <dt>Sent by:</dt>
      <dd>{{model.sender}}</dd>
      <dt>Recipients:</dt>
      <dd>
          <ul>
              {{#each model.recipients as |recipient|}}
                  <li>
                      {{recipient.address}}
                  </li>
              {{/each}}
          </ul>
      </dd>
      <dt>Date sent:</dt>
      <dd>{{moment-format model.datetime}}</dd>
  </dl>
  
  {{paper-divider}}
  <p>
      {{html-safe model.body}}
  </p>