{{#paper-list flex="10" class="content-list"}}

    {{#each model as |mail|}}
     
      {{#paper-item class="md-3-line" action=(action 'toMail' mail.id)}}
        <div class="md-list-item-text">
         <span class="date">
             {{moment-from-now mail.datetime}}
         </span>
          <h3>
              {{mail.subject}}
          </h3>
          <h4>Sent by <strong>{{mail.sender}}</strong></h4>
        </div>
      {{/paper-item}}
      {{paper-divider}}
    {{/each}}
  {{/paper-list}}
   
  {{#paper-card flex="15"}}
    {{#paper-card-content}}
      {{outlet}}
    {{/paper-card-content}}
  {{/paper-card}}