{{#filter-panel filter=(action "filter") tags=model.tags}}
    <h2>
        {{paper-icon icon="contacts"}}
        Recipients
    </h2>
{{/filter-panel}}

{{#paper-content flex-layout="row" flex=true class="app-main"}}
    {{#paper-list flex="10" class="content-list"}}
       {{#if loading}}
            {{paper-progress-circular class="md-hue-2"}}
       {{else}}
        {{#each model.recipients as |recipient|}}

          {{#paper-item class="md-3-line" action=(action 'toRecipient' recipient.id)}}
            <div class="md-list-item-text">
              <h3>
                  {{recipient.address}}
              </h3>
            </div>
          {{/paper-item}}
          {{paper-divider}}
        {{else}}
            {{#paper-item class="md-3-line"}}
                <div class="md-list-item-text">
                  <h3>No recipients match criteria.</h3>
                </div>
           {{/paper-item}}
        {{/each}}
        {{/if}}
        
    {{/paper-list}}
   
  {{#paper-card flex="15"}}
    {{#paper-card-content}}
      {{outlet}}
    {{/paper-card-content}}
  {{/paper-card}}
  
{{/paper-content}}